<p id="notice"><%= notice %></p>

<h1>Listing Zombies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Bio</th>
      <th>Age</th>
      <th>Email</th>
      <th>Rotting</th>
      <th>Sex</th>
      <th>Brain flavor</th>
      <th>Role</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @zombies.each do |zombie| %>
      <tr>
        <td><%= zombie.name %></td>
        <td><%= zombie.bio %></td>
        <td><%= zombie.age %></td>
        <td><%= zombie.email %></td>
        <td><%= zombie.rotting %></td>
        <td><%= zombie.sex %></td>
        <td><%= zombie.brain.nil? ? '-' : zombie.brain.flavor %></td>
        <td><%= zombie.roles.map{|x| x.title}.join(", ") %></td>
        <td><%= link_to 'Show', zombie %></td>
        <td><%= link_to 'Edit', edit_zombie_path(zombie) %></td>
        <td><%= link_to 'Destroy', zombie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><%= link_to "#{zombie.name}'s Tweets", zombie_tweets_path(zombie) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Zombie', new_zombie_path %>
